<nav class="navbar navbar-light bg-primary">
  <a class="navbar-brand">Generator Curriculum</a>
</nav>
<br>
<div class="container">
  <div class="row">
     <div class="col-md-6 vertical-line">
        <h5>Formulário:</h5>
        <br>
        <form>
           <div class="row">
              <div class="col-md-6">
                 <div class="form-group">
                    <label for="nome_completo">* Qual seu nome ?</label>
                    <input type="text" id="nome_completo" name="nome_completo" [(ngModel)]="curriculum.nome_completo" class="form-control" tabindex="1">
                    <small id="nome_completo" class="form-text text-muted">Ex.: Miguel Castro...</small>
                 </div>
                 <div class="form-group">
                    <label for="estado">* De qual estado você é ?</label>
                    <input type="text" id="estado" name="estado" [(ngModel)]="curriculum.estado" class="form-control" tabindex="3">
                    <small id="estado" class="form-text text-muted">Ex.: São Paulo...</small>
                 </div>
                 <div class="form-group">
                    <label for="numero_contato">* Qual seu número de contato ?</label>
                    <input type="text" id="numero_contato" name="numero_contato" [(ngModel)]="curriculum.numero_contato" class="form-control" tabindex="5">
                    <small id="numero_contato" class="form-text text-muted">Ex.: +55 11 9 1234-5678...</small>
                 </div>
              </div>
              <div class="col-md-6">
                 <div class="form-group">
                    <label for="cargo_atual">Qual seu cargo atual ?</label>
                    <input type="text" id="cargo_atual" name="cargo_atual" [(ngModel)]="curriculum.cargo_atual" class="form-control" tabindex="2">
                    <small id="cargo_atual" class="form-text text-muted">Ex.: Desenvolvedor...</small>
                 </div>
                 <div class="form-group">
                    <label for="pais">* De qual país você é ?</label>
                    <select id="pais" name="pais" [(ngModel)]="curriculum.pais" class="form-control" tabindex="4">
                    <option value="" selected></option>
                    <option value="Afeganistão">Afeganistão</option>
                    <option value="África do Sul">África do Sul</option>
                    </select>
                    <small id="pais" class="form-text text-muted">Ex.: Brasil...</small>
                 </div>
                 <div class="form-group">
                    <label for="email">* Qual seu e-mail ?</label>
                    <input type="email" id="email" name="email" [(ngModel)]="curriculum.email_contato" class="form-control" tabindex="6">
                    <small id="email" class="form-text text-muted">Ex.: miguel@email.com...</small>
                 </div>
              </div>
           </div>
           <div class="form-group">
              <label for="objetivo_profissional">* Qual seu objetivo profissional ?</label>
              <input type="text" id="objetivo_profissional" name="objetivo_profissional" [(ngModel)]="curriculum.objetivo_profissional" class="form-control">
              <small id="objetivo_profissional" class="form-text text-muted">Ex.: Desenvolvimento de software...</small>
           </div>
           <br>
           <div class="row">
              <div class="col-md-6">
                 <!-- Button trigger modal - links de contato -->
                 <button type="button" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#linkModal">
                 Links de contato
                 </button>
              </div>
              <div class="col-md-6">
                 <!-- Button trigger modal - Experiências profissionais -->
                 <button type="button" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#experiencia-profissional">
                 Experiências profissionais
                 </button>
              </div>
           </div>
           <br>
           <div class="row">
              <div class="col-md-6">
                 <!-- Button trigger modal - conhecimentos -->
                 <button type="button" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#conhecimentoModal">
                 Conhecimentos e experiências
                 </button>
              </div>
              <div class="col-md-6">
                 <!-- Button trigger modal - formacao academica -->
                 <button type="button" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#formacao-academica">
                 Formações acadêmicas
                 </button>
              </div>
           </div>
           <br>
           <div class="row">
              <div class="col-md-12">
                 <!-- Button trigger modal - idiomas -->
                 <button type="button" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#idioma">
                 Idiomas
                 </button>
              </div>
           </div>
           <!-- Modal - links de contato -->
           <div class="modal fade" id="linkModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="linkLabel" aria-hidden="true">
              <div class="modal-dialog">
                 <div class="modal-content">
                    <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                       </button>
                    </div>
                    <div class="modal-body">
                       <div class="form-group">
                          <label for="links_contato">* Qual são seus links de contato ?</label>
                          <div class="input-group mb-3">
                             <input type="text" id="link" name="link" [(ngModel)]="link" class="form-control">
                             <div class="input-group-append">
                                <button class="btn btn-outline-primary" type="button" *ngIf="!link || link.length === 0" disabled>Adicionar ({{curriculum.links_contato.length}} de 10)</button>
                                <button class="btn btn-outline-primary" type="button" *ngIf="link && curriculum.links_contato.length < 10 && link.length !== 0" (click)="adicionarLinksContato(link);">Adicionar ({{curriculum.links_contato.length}} de 10)</button>
                                <button class="btn btn-outline-primary" type="button" *ngIf="curriculum.links_contato.length === 10" disabled>Limite atingido</button>
                             </div>
                          </div>
                          <div *ngIf="curriculum.links_contato.length > 0" class="modal-color-custom">
                             <p *ngFor="let item of curriculum.links_contato; let i = index">
                                • {{item}}
                                <span aria-hidden="true" style="cursor: pointer; color: red;" (click)="removerLinksContato(i);">
                                <strong>&times;</strong>
                                </span>
                             </p>
                          </div>
                       </div>
                    </div>
                    <div class="modal-footer">
                       <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Concluído</button>
                    </div>
                 </div>
              </div>
           </div>
           <!-- Modal - Experiências profissionais -->
           <div class="modal fade" id="experiencia-profissional" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="experiencia-profissionalLabel" aria-hidden="true">
              <div class="modal-dialog modal-xl">
                 <div class="modal-content">
                    <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                       </button>
                    </div>
                    <div class="modal-body">
                       <div class="d-flex justify-content-between align-items-center">
                          <p>Quais são suas experiências profissionais?</p>
                          <button *ngIf="totalProfissao < 10" class="btn btn-outline-primary button-adiciona-experiencia-profissional" (click)="adicionarProfissao($event);">Adicionar ({{curriculum.experiencias_profissionais.length}} de 10)</button>
                          <button *ngIf="totalProfissao >= 10" class="btn btn-outline-primary button-adiciona-experiencia-profissional" disabled>Adicionar ({{totalProfissao}} de 10)</button>
                       </div>
                       <div *ngIf="curriculum.experiencias_profissionais.length > 0">
                          <div *ngFor="let item of curriculum.experiencias_profissionais; let i = index">
                             <div class="modal-color-custom">
                                <button class="btn btn-outline-danger" (click)="removerProfissao(i);"><span>&times;</span></button>
                                <div class="row">
                                   <div class="col-md-6">
                                      <div class="form-group">
                                         <br>
                                         <label for="empresa{{i}}">* Qual o nome da empresa?</label>
                                         <input type="text" id="empresa{{i}}" name="empresa{{i}}" [(ngModel)]="item.nome_empresa" class="form-control">
                                         <small id="empresa{{i}}" class="form-text text-muted">Ex.: Google, Microsoft...</small>
                                      </div>
                                   </div>
                                   <div class="col-md-6">
                                      <div class="form-group">
                                         <br>
                                         <label for="cargo{{i}}">Qual o cargo?</label>
                                         <input type="text" id="cargo{{i}}" name="cargo{{i}}" [(ngModel)]="item.cargo" class="form-control">
                                         <small id="cargo{{i}}" class="form-text text-muted">Ex.: Desenvolvedor...</small>
                                      </div>
                                   </div>
                                   <div class="col-md-6">
                                      <div class="form-group">
                                         <label for="dataInicio{{i}}">Qual a data de início?</label>
                                         <input type="month" min="1990-01" max="{{anoAtualInputData()}}" id="dataInicio{{i}}" name="dataIncio{{i}}" [(ngModel)]="item.data_inicio" class="form-control">
                                      </div>
                                   </div>
                                   <div class="col-md-6">
                                      <div class="form-group">
                                         <label for="dataFim{{i}}">Qual a data fim?</label>
                                         <input type="month" min="1990-01" max="{{anoAtualInputData()}}" id="dataFim{{i}}" name="dataFim{{i}}" [(ngModel)]="item.data_fim" class="form-control">
                                      </div>
                                   </div>
                                   <div class="col-md-12">
                                      <div class="form-group">
                                         <label for="cargoAtual{{i}}">Descrição das atividades?</label>
                                         <input type="text" id="cargoAtual{{i}}" name="cargoAtual{{i}}" [(ngModel)]="item.descricao_cargo" class="form-control">
                                         <small id="cargoAtual{{i}}" class="form-text text-muted">Ex.: Gerenciamento de projetos...</small>
                                      </div>
                                   </div>
                                </div>
                             </div>
                             <br>
                          </div>
                       </div>
                    </div>
                    <div class="modal-footer">
                       <button type="button" class="btn btn-outline-primary" *ngIf="totalProfissao > 0" data-dismiss="modal">Concluído</button>
                       <button type="button" class="btn btn-outline-primary" *ngIf="totalProfissao <= 0" data-dismiss="modal" disabled>Concluído</button>
                    </div>
                 </div>
              </div>
           </div>
           <br>
           <!-- Modal - conheicimentos -->
           <div class="modal fade" id="conhecimentoModal" tabindex="-1" aria-labelledby="conhecimentoModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                 <div class="modal-content">
                    <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                       </button>
                    </div>
                    <div class="modal-body">
                       <div class="form-group">
                          <label for="conhecimentos">* Qual são seus conhecimentos e experiências ?</label>
                          <div class="input-group mb-3">
                             <input type="text" id="conhecimento" name="conhecimento" [(ngModel)]="conhecimento" class="form-control">
                             <div class="input-group-append">
                                <button class="btn btn-outline-primary" type="button" *ngIf="!conhecimento || conhecimento.length === 0" disabled>Adicionar ({{curriculum.conhecimentos.length}} de 50)</button>
                                <button class="btn btn-outline-primary" type="button" *ngIf="conhecimento && curriculum.conhecimentos.length < 50 && conhecimento.length !== 0" (click)="adicionarConhecimentos(conhecimento);">Adicionar ({{curriculum.conhecimentos.length}} de 50)</button>
                                <button class="btn btn-outline-primary" type="button" *ngIf="curriculum.conhecimentos.length === 50" disabled>Limite atingido</button>
                             </div>
                          </div>
                          <div *ngIf="curriculum.conhecimentos.length > 0" class="modal-color-custom">
                             <p *ngFor="let item of curriculum.conhecimentos; let i = index">
                                • {{item}}
                                <span aria-hidden="true" style="cursor: pointer; color: red;" (click)="removerConhecimentos(i);">
                                <strong>&times;</strong>
                                </span>
                             </p>
                          </div>
                       </div>
                    </div>
                    <div class="modal-footer">
                       <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Concluído</button>
                    </div>
                 </div>
              </div>
           </div>
           <!-- Modal - formacao academica -->
           <div class="modal fade" id="formacao-academica" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="formacao-academicaLabel" aria-hidden="true">
              <div class="modal-dialog modal-xl">
                 <div class="modal-content">
                    <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                       </button>
                    </div>
                    <div class="modal-body">
                       <div class="d-flex justify-content-between align-items-center">
                          <p>Quais são suas formações acadêmicas?</p>
                          <button *ngIf="totalFormacao < 10" class="btn btn-outline-primary button-adiciona-formacao-academica" (click)="adicionarFormacao($event);">Adicionar ({{curriculum.formacoes_academicas.length}} de 10)</button>
                          <button *ngIf="totalFormacao >= 10" class="btn btn-outline-primary button-adiciona-formacao-academica" disabled>Adicionar ({{totalFormacao}} de 10)</button>
                       </div>
                       <div *ngIf="curriculum.formacoes_academicas.length > 0">
                          <div *ngFor="let item of curriculum.formacoes_academicas; let i = index">
                             <div class="modal-color-custom">
                                <button class="btn btn-outline-danger" (click)="removerFormacao(i);"><span>&times;</span></button>
                                <div class="row">
                                   <div class="col-md-12">
                                      <div class="form-group">
                                         <br>
                                         <label for="curso{{i}}">* Qual o nome do curso?</label>
                                         <input type="text" id="curso{{i}}" name="curso{{i}}" [(ngModel)]="item.nome_curso" class="form-control">
                                         <small id="curso{{i}}" class="form-text text-muted">Ex.: Desenvolvimento, Banco de dados...</small>
                                      </div>
                                   </div>
                                   <div class="col-md-6">
                                      <div class="form-group">
                                         <label for="dataInicio{{i}}">Qual a data de início?</label>
                                         <input type="month" min="1990-01" max="{{anoAtualInputData()}}" id="dataInicio{{i}}" name="dataInicio{{i}}" [(ngModel)]="item.data_inicio" class="form-control">
                                      </div>
                                   </div>
                                   <div class="col-md-6">
                                      <div class="form-group">
                                         <label for="dataFim{{i}}">Qual a data fim?</label>
                                         <input type="month" min="1990-01" max="{{anoAtualInputData()}}" id="dataFim{{i}}" name="dataFim{{i}}" [(ngModel)]="item.data_fim" class="form-control">
                                      </div>
                                   </div>
                                   <div class="col-md-12">
                                      <div class="form-group">
                                         <label for="instituicao{{i}}">Nome da instituição?</label>
                                         <input type="text" id="instituicao{{i}}" name="instituicao{{i}}" [(ngModel)]="item.nome_instituicao" class="form-control">
                                         <small id="instituicao{{i}}" class="form-text text-muted">Ex.: Senac...</small>
                                      </div>
                                   </div>
                                </div>
                             </div>
                             <br>
                          </div>
                       </div>
                    </div>
                    <div class="modal-footer">
                       <button type="button" class="btn btn-outline-primary" *ngIf="totalFormacao > 0" data-dismiss="modal">Concluído</button>
                       <button type="button" class="btn btn-outline-primary" *ngIf="totalFormacao <= 0" data-dismiss="modal" disabled>Concluído</button>
                    </div>
                 </div>
              </div>
           </div>
           <br>
           <!-- Modal - idiomas -->
           <div class="modal fade" id="idioma" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="idiomasLabel" aria-hidden="true">
              <div class="modal-dialog modal-xl">
                 <div class="modal-content">
                    <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                       </button>
                    </div>
                    <div class="modal-body">
                       <div class="d-flex justify-content-between align-items-center">
                          <p>Quais são seus idiomas?</p>
                          <button *ngIf="totalIdiomas < 10" class="btn btn-outline-primary button-adiciona-idiomas" (click)="adicionarIdioma($event);">Adicionar ({{curriculum.idiomas.length}} de 10)</button>
                          <button *ngIf="totalIdiomas >= 10" class="btn btn-outline-primary button-adiciona-idiomas" disabled>Adicionar ({{totalIdiomas}} de 10)</button>
                       </div>
                       <div *ngIf="curriculum.idiomas.length > 0">
                          <div *ngFor="let item of curriculum.idiomas; let i = index">
                             <div class="modal-color-custom">
                                <button class="btn btn-outline-danger" (click)="removerIdioma(i);"><span>&times;</span></button>
                                <div class="row">
                                   <div class="col-md-12">
                                      <div class="form-group">
                                         <br>
                                         <label for="idioma{{i}}">* Qual o nome do idioma?</label>
                                         <input type="text" id="idioma{{i}}" name="idioma{{i}}" [(ngModel)]="item.nome_idioma" class="form-control">
                                         <small id="idioma{{i}}" class="form-text text-muted">Ex.: Inglês, Espanhol...</small>
                                      </div>
                                   </div>
                                   <div class="col-md-6">
                                      <div class="form-group">
                                         <label for="nivelConversacao{{i}}">Nível de conversação?</label>
                                         <input type="text" id="nivelConversacao{{i}}" name="nivelConversacao{{i}}" [(ngModel)]="item.nivel_conversacao" class="form-control">
                                         <small id="nivelConversacao{{i}}" class="form-text text-muted">Ex.: Bom...</small>
                                      </div>
                                   </div>
                                   <div class="col-md-6">
                                      <div class="form-group">
                                         <label for="nivelEscritaLeitura{{i}}">Nível de escrita/leitura?</label>
                                         <input type="text" id="nivelEscritaLeitura{{i}}" name="nivelEscritaLeitura{{i}}" [(ngModel)]="item.nivel_escrita_leitura" class="form-control">
                                         <small id="nivelEscritaLeitura{{i}}" class="form-text text-muted">Ex.: Bom...</small>
                                      </div>
                                   </div>
                                </div>
                             </div>
                             <br>
                          </div>
                       </div>
                    </div>
                    <div class="modal-footer">
                       <button type="button" class="btn btn-outline-primary" *ngIf="totalIdiomas > 0" data-dismiss="modal">Concluído</button>
                       <button type="button" class="btn btn-outline-primary" *ngIf="totalIdiomas <= 0" data-dismiss="modal" disabled>Concluído</button>
                    </div>
                 </div>
              </div>
           </div>
           <br>
        </form>
     </div>
     <div class="col-md-6">
        <h5>Currículo:</h5>
        <br>
        <div class="curriculo">
           <p class="title-color-custom">{{curriculum.nome_completo}}</p>
           <p class="sub-title-color-custom">{{curriculum.cargo_atual}}</p>
           <p class="text-color-custom">{{curriculum.estado}} <span *ngIf="curriculum.pais != ''"> - {{curriculum.pais}}</span></p>
           <p class="text-color-custom">{{curriculum.numero_contato}}</p>
           <p class="text-color-custom">{{curriculum.email_contato}}</p>
           <p *ngFor="let item of curriculum.links_contato">
              <span class="text-color-custom">{{item}}</span>
           </p>
           <p class="sub-title-color-custom">OBJETIVO PROFISIONAL</p>
           <p class="text-color-custom">{{curriculum.objetivo_profissional}}</p>
           <p class="sub-title-color-custom">EXPERIÊNCIAS PROFISSIONAIS</p>
           <div *ngFor="let item of curriculum.experiencias_profissionais">
              <p class="">{{item.nome_empresa}}</p>
              <p class="text-color-custom"><strong>{{item.cargo}} {{item.data_inicio | date: 'MM/yyyy'}} <span *ngIf="item.data_fim != null">- {{item.data_fim | date: 'MM/yyyy'}}</span></strong></p>
              <p class="text-color-custom">{{item.descricao_cargo}}</p>
           </div>
           <p class="sub-title-color-custom">CONHECIMENTOS E EXPERIÊNCIAS</p>
           <p *ngFor="let item of curriculum.conhecimentos">
              <span class="text-color-custom">• {{item}}</span>
           </p>
           <p class="sub-title-color-custom">FORMAÇÕES ACADÊMICAS</p>
           <div *ngFor="let item of curriculum.formacoes_academicas">
              <p class="text-color-custom">{{item.nome_curso}} {{item.data_inicio | date: 'yyyy'}} <span *ngIf="item.data_fim != null" >- {{item.data_fim | date: 'yyyy'}}</span></p>
              <p class="text-color-custom">{{item.nome_instituicao}}</p>
           </div>
           <p class="sub-title-color-custom">IDIOMAS</p>
           <div *ngFor="let item of curriculum.idiomas">
              <p class="text-color-custom"><strong>{{item.nome_idioma}}</strong></p>
              <p class="text-color-custom" *ngIf="item.nivel_conversacao != null">conversação: {{item.nivel_conversacao}}</p>
              <p class="text-color-custom"  *ngIf="item.nivel_escrita_leitura != null">leitura/escrita: {{item.nivel_escrita_leitura}}</p>
           </div>
        </div>
     </div>
  </div>
</div>
<br>
<footer>
  <p class="text-muted text-center footer-curriculo">© Curriculum Generator - Miguel Castro</p>
</footer>
