<nav class="navbar navbar-light bg-primary">
  <a class="navbar-brand">Generator Curriculum</a>
</nav>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-6 vertical-line">
      <h5>Formulário:</h5>
      <br>
      <form>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="nome_completo">* Qual seu nome ?</label>
              <input type="text" id="nome_completo" name="nome_completo" [(ngModel)]="curriculum.nome_completo" class="form-control">
              <small id="nome_completo" class="form-text text-muted">Ex.: Miguel Castro...</small>
            </div>
            <div class="form-group">
              <label for="estado">* De qual estado você é ?</label>
              <input type="text" id="estado" name="estado" [(ngModel)]="curriculum.estado" class="form-control">
              <small id="estado" class="form-text text-muted">Ex.: São Paulo...</small>
            </div>
            <div class="form-group">
              <label for="numero_contato">* Qual seu número de contato ?</label>
              <input type="text" id="numero_contato" name="numero_contato" [(ngModel)]="curriculum.numero_contato" class="form-control">
              <small id="numero_contato" class="form-text text-muted">Ex.: +55 11 9 1234-5678...</small>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="cargo_atual">Qual seu cargo atual ?</label>
              <input type="text" id="cargo_atual" name="cargo_atual" [(ngModel)]="curriculum.cargo_atual" class="form-control">
              <small id="cargo_atual" class="form-text text-muted">Ex.: Desenvolvedor, Bancário...</small>
            </div>
            <div class="form-group">
              <label for="pais">* De qual país você é ?</label>
              <select id="pais" name="pais" [(ngModel)]="curriculum.pais" class="form-control">
                <option value="brasil">Brasil</option>
              </select>
              <small id="pais" class="form-text text-muted">Ex.: Brasil...</small>
            </div>
            <div class="form-group">
              <label for="email">* Qual seu e-mail ?</label>
              <input type="email" id="email" name="email" [(ngModel)]="curriculum.email_contato" class="form-control">
              <small id="email" class="form-text text-muted">Ex.: miguel@email.com...</small>
            </div>
          </div>
        </div>





        <div class="form-group">
          <label for="links_contato">* Qual são seus links de contato ?</label>
          <div class="input-group mb-3">
            <input type="text" id="link" name="link" [(ngModel)]="link" class="form-control">
            <div class="input-group-append">
              <button class="btn btn-outline-primary" type="button" *ngIf="!link || link.length === 0" disabled>adicionar ({{curriculum.links_contato.length}} de 10)</button>
              <button class="btn btn-outline-primary" type="button" *ngIf="link && curriculum.links_contato.length < 10 && link.length !== 0" (click)="adicionarLinksContato(link);">adicionar ({{curriculum.links_contato.length}} de 10)</button>
              <button class="btn btn-outline-primary" type="button" *ngIf="curriculum.links_contato.length === 10" disabled>Limite atingido</button>
            </div>
          </div>
          <div *ngIf="curriculum.links_contato.length > 0" class="links-contato">
            <p *ngFor="let item of curriculum.links_contato">
              {{item}}
            </p>
          </div>
        </div>
        <div class="form-group">
          <label for="objetivo_profissional">* Qual seu objetivo profissional ?</label>
          <input type="text" id="objetivo_profissional" name="objetivo_profissional" [(ngModel)]="curriculum.objetivo_profissional" class="form-control">
          <small id="objetivo_profissional" class="form-text text-muted">Ex.: Desenvolvimento de software...</small>
        </div>







    <!-- Button trigger modal -->
    <button type="button" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#experiencia-profissional">
      Experiências profissionais
    </button>

    <!-- Modal -->
    <div class="modal fade" id="experiencia-profissional" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="experiencia-profissionalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" (click)="definirProfissoes();" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="d-flex justify-content-between align-items-center">
              <p>Experiências profissionais:</p>
              <button *ngIf="totalProfissao < 10" class="btn btn-outline-primary button-adiciona-experiencia-profissional" (click)="adicionarProfissao();">adicionar ({{totalProfissao}} de 10)</button>
              <button *ngIf="totalProfissao >= 10" class="btn btn-outline-primary button-adiciona-experiencia-profissional" disabled>adicionar ({{totalProfissao}} de 10)</button>
            </div>




            <div *ngIf="experienciasProfissionais.length > 0">
              <div *ngFor="let item of experienciasProfissionais; let i = index">
                <div class="experiencias-profissionais">
                <button class="btn btn-outline-danger" (click)="removerProfissao(i);"><span>&times; remover</span></button>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <br>
                      <label for="empresa">* Qual o nome da empresa ?</label>
                      <input type="text" id="empresa" name="empresa" [(ngModel)]="item.nome_empresa" class="form-control">
                      <small id="empresa" class="form-text text-muted">Ex.: Google, Microsoft...</small>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <br>
                      <label for="cargo">Qual o cargo ?</label>
                      <input type="text" id="cargo" name="cargo" [(ngModel)]="item.cargo" class="form-control">
                      <small id="cargo" class="form-text text-muted">Ex.: Desenvolvedor, Bancário...</small>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="dataInicio">Qual a data de início ?</label>
                      <input type="date" id="dataInicio" name="dataIncio" [(ngModel)]="item.data_inicio" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="dataFim">Qual a data fim ?</label>
                      <input type="date" id="dataFim" name="dataFim" [(ngModel)]="item.data_fim" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="cargoAtual">Descrição das atividades ?</label>
                      <input type="text" id="cargoAtual" name="cargoAtual" [(ngModel)]="item.descricao_cargo" class="form-control">
                      <small id="cargoAtual" class="form-text text-muted">Ex.: Gerenciamento de projetos...</small>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              </div>
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary" (click)="definirProfissoes();" data-dismiss="modal">concluído</button>
          </div>
        </div>
      </div>
    </div>





















      </form>
    </div>


    <div class="col-md-6">
      <h5>Currículo</h5>
      <br>
      <div class="curriculo">
        <p>{{curriculum.nome_completo}}</p>
        <p>{{curriculum.cargo_atual}}</p>
        <p>{{curriculum.estado}}</p>
        <p>{{curriculum.pais}}</p>
        <p>{{curriculum.numero_contato}}</p>
        <p>{{curriculum.email_contato}}</p>
        <p>Links de contato:</p>
        <p *ngFor="let item of curriculum.links_contato">
          {{item}}
        </p>
        <p>Objetivo Profissional:</p>
        <p>{{curriculum.objetivo_profissional}}</p>
        <p>Experiências Profissionais:</p>
        <p>Empresa: {{curriculum.experiencia_profissional[0].nome_empresa}}</p>
        <p>Cargo: {{curriculum.experiencia_profissional[0].cargo}}</p>
        <p>Data inicío: {{curriculum.experiencia_profissional[0].data_inicio}}</p>
        <p>Data fim: {{curriculum.experiencia_profissional[0].data_fim}}</p>
        <p>Descrição cargo: {{curriculum.experiencia_profissional[0].descricao_cargo}}</p>
      </div>
    </div>

  </div>
</div>
<br><br><br>
