.vertical-line {
  border-right: 3px solid #E5E5E5;
}

@media (max-width: 767px) {
  .vertical-line {
    border-right: none;
  }
}

.curriculo {
  border: solid black;
  box-shadow: 4px 4px 4px;
  padding: 10px;
}

.modal-color-custom {
  border: solid #E5E5E5;
  border-radius: 2px;
  padding: 10px;
}

.button-adiciona-experiencia-profissional {
  margin-bottom: 20px;
}

.conhecimentos {
  border: solid #E5E5E5;
  border-radius: 2px;
  padding: 10px;
}

.button-adiciona-formacao-academica {
  margin-bottom: 20px;
}

.idiomas {
  border: 2px solid black;
  border-radius: 2px;
  padding: 10px;
}

.button-adiciona-idiomas {
  margin-bottom: 20px;
}

.footer-curriculo {
  font-size: 12px;
}

.title-color-custom {
  font-size: 30px;
}

.sub-title-color-custom {
  font-size: 20px;
  color: #4A86E8;
}

.text-color-custom {
  color: gray;
}
