.vertical-line {
  border-right: 3px solid black;
}

@media (max-width: 767px) {
  .vertical-line {
    border-right: none;
  }
}

.curriculo {
  border: 2px solid black;
  box-shadow: 2px 2px 2px;
  padding: 10px;
}

.links-contato {
  border: 2px solid black;
  border-radius: 2px;
  padding: 10px;
}

.experiencias-profissionais {
  border: 2px solid black;
  border-radius: 2px;
  padding: 10px;
}

.button-adiciona-experiencia-profissional {
  margin-bottom: 20px;
}

.conhecimentos {
  border: 2px solid black;
  border-radius: 2px;
  padding: 10px;
}

.formacoes-academicas {
  border: 2px solid black;
  border-radius: 2px;
  padding: 10px;
}

.button-adiciona-formacao-academica {
  margin-bottom: 20px;
}
